#term-course-components {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Helvetica";
}

#course-terms {
    display: inline;
    padding: 1em;
    font-size: 1.2em;
}

#course-code {
    font-weight: 900;
    color: black;
    font-size: 1.5em;
}

#course-name {
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: black;
    position: relative;
    top: -5.5em;
    font-size: 1em;
}

#course-review {
    position: relative;
    top: -1.5em;
    color: #b2b2b2;
}

#star-section {
    position: relative;
    top: -3.5em;
    padding-left: 12em;
}

#term-list-container {
    background-color: #d7f6fa;
    margin-bottom: 10%;
    font-size: 75%;
    color: black;
    width: max-content;
    border-radius: 20px;
    padding: 5px 10px;
    position: relative;
    top: -2em;
}