#term-course-components {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Helvetica";
}

#course-name {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#term-list-container {
    background-color: #c9e5ff;
    font-size: 75%;
    color: black;
    width: max-content;
    text-align: center;
    border-radius: 10px;
    margin-top: 4vw;
}