#top-sidebar img {
    width: 40%;
    display: block;
    margin: 20% auto;
    padding-bottom: 8%;
}

#top-sidebar hr {
    width: 60%;
    color: #b2b2b2;
}

#top-unilective-icons {
    width: 30%;
    height: 100%;
    margin: 20% auto 0 auto;
}