#header-text {
    line-height: 0%;
    font-family: Helvetica, sans-serif;
}

#header-text h4 {
    font-weight: 600;
    color: black;
}

#header-text h3 {
    position: relative;
    top: -0.8em;
    font-weight: 800;
    color: black;
}

#header-text button {
    font-weight: 900;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    position: relative;
    top: -1vw;
    font-size: 4em;
}

#header-comps input {
    margin-top: 1.5em;
    width: 98%;
    font-family: Helvetica;
    border: 1.5px solid #0185fe;
    color: #0185fe;
    padding: 1em;
}

#header-comps button {
    margin-top: 1em;
    width: 16%;
    border: 1.5px solid #b2b2b2;
    color: #b2b2b2;
    text-align: start;
    background-color: white;
    box-shadow: 0px 1px 1px 0.1px;
}

#header-comps button img {
    width: 1em;
    position: relative;
    top: 0.25em;
    float: right;
}